<% include partials/header %>

<h1>Welcome to User App</h1>
<a href="/users/new">Add new user</a>

<table>
  <thead>
    <tr>
      	<th>User</th>
		<th>Age</th>
		<th>Avatar</th>	
    </tr>
  </thead>
  <tbody>
	<% users.forEach(function(user){ %>
	<tr>
	  <td><a href="/users/<%= user.id %>"><%= user.name %></a>
	  </td>
	  <td><%= user.age %></td>
	  <td><%= user.email %></td>
	  <td><img src="<%= user.avatar %>" width="100px"></td>

	  <td><a href="/users/<%= user.id %>/edit">edit</a></td>
	  <td>
	  	<form action="/users/<%= user.id %>?_method=delete" method="POST">
	  	<input type="submit" value="X" class="button">
	  	</form>
	  </td>
	</tr>
	<% })%>
  </tbody>
</table>

<% include partials/footer %>
